# This file is used by the build system to determine which browsers to support by transpiling ES2015 code

# to ES5 and include JavaScript polyfills for it.

# Examples:

# For more information, see https://github.com/browserslist/browserslist

last 1 Chrome version
last 1 Firefox version
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS major versions
Firefox ESR
